*.DS_Store
node_modules
.turbo
*.log
.next
dist
dist-ssr
*.local
.env
.cache
server/dist
public/dist
*.tsbuildinfo
*.class
*.py[cod]
*.jar
target/
.idea/
TEST*.xml
Thumbs.db
*.app
*.exe
*.war
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv
.openapi-generator
**/bin
**/obj
**/.vs/
*.user

**/TestResults
**/appsettings.Development.json
**/package-lock.json

wwwroot/js/*.js.map

**/coverage
**/dist

# Ignore local pay elements. Must use CDN for all non-local deployments.
bff/NoFrixion.Bff/wwwroot/js/nofrixion-business.js
bff/NoFrixion.Bff/wwwroot/nofrixion-business.js
