@model string

@{
    Layout = null;
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>NoFrixion</title>

    <link rel="icon" href="https://cdn.nofrixion.com/icons/favicon.ico" />

    <meta
        name="description"
        content="You won't actually become a bank: you'll just forget you needed one"
    />
    <meta name="twitter:card" content="summary_large_image" />

    <meta name="twitter:image:type" content="image/png" />
    <meta name="twitter:image:width" content="1200" />
    <meta name="twitter:image:height" content="630" />
    <meta name="twitter:image" content="https://cdn.nofrixion.com/img/mm4b-opengraph-image.png" />

    <meta property="og:type" content="website" />
    <meta property="og:title" content="NoFrixion: MoneyMoov for Business, be your own bank" />
    <meta
        property="og:description"
        content="You won't actually become a bank: you'll just forget you needed one"
    />
    <meta property="og:site_name" content="NoFrixion"/>
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:image" content="https://cdn.nofrixion.com/img/mm4b-opengraph-image.png" />
    <script type="module" crossorigin src="@Model"></script>
    
</head>
<body>
<div id="root"></div>

</body>
</html>
